<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Book</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.authorId}">123</td>
        <td th:text="${author.firstName}+' '+${author.lastName}"> Spring in Action</td>
        <td th:each ="book : ${author.books}"><table><tr>
            <td th:text = "${book.name}">
            </td>
        </tr></table></td>
    </tr>
</table>

</body>
</html>